@model FlowersBack.Models.Flower

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flower</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPurchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="@Url.Content(Model.Image)" alt="Image" style="width: 150px; height: 150px; max-width: 100%; height: auto;" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*<input type="submit" value="Delete" class="btn btn-danger"/>*@
             <button type="submit" class="btn btn-danger" title="Delete.">Delete. <span class="glyphicon glyphicon-trash"></span></button>
            <a href="/Flowers/Index" class="btn btn-default" title="Back to List.">Back to List. <span class="glyphicon glyphicon-backward"></span></a>

        </div>
    }
</div>
